/*--- Basic styles ---*/
html{ overflow-y: scroll !important; }

body{
  font-family: $f-main;
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
  padding-right: 0 !important;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

*{
  box-sizing: border-box;
  outline: none !important;
}

a{
  text-decoration: none;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    text-decoration: none;
    outline: none;
  }
}

.button{
  display: inline-block;
  overflow: hidden;
  position: relative;
  border: none;
  height: 50px;
  text-align: center;
  font-size: 16px !important;
  font-family: $f-S-bold !important;
  color: #ffffff !important;
  line-height: 49px;
  padding: 0 120px;
  transition: all 0.5s;
  background-color: $accent;

  @media(max-width: 420px){
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  &:hover{
    background-color: #79A921;
  }

  &:active{
    background-color: #AAD066;
  }

}

.block-title {
  font-size: 30px;
  font-family: $f-main;
  margin-top: 0;

  @media(max-width: 992px){
    font-size: 28px;
  }

  @media(max-width: 767px){
    font-size: 24px;
  }
}

.border-text{
  color: #000000;
  text-shadow:
          -0   -2px 1px #86BC25,
          0   -2px 1px #86BC25,
          -0    2px 1px #86BC25,
          0    2px 1px #86BC25,
          -2px -0   1px #86BC25,
          2px -0   1px #86BC25,
          -2px  0   1px #86BC25,
          2px  0   1px #86BC25,
          -1px -2px 1px #86BC25,
          1px -2px 1px #86BC25,
          -1px  2px 1px #86BC25,
          1px  2px 1px #86BC25,
          -2px -1px 1px #86BC25,
          2px -1px 1px #86BC25,
          -2px  1px 1px #86BC25,
          2px  1px 1px #86BC25,
          -2px -2px 1px #86BC25,
          2px -2px 1px #86BC25,
          -2px  2px 1px #86BC25,
          2px  2px 1px #86BC25,
          -2px -2px 1px #86BC25,
          2px -2px 1px #86BC25,
          -2px  2px 1px #86BC25,
          2px  2px 1px #86BC25;
}

form{
  .form-group{
    .form-control{
      width: 100%;
      height: 100%;
      border-radius: 0;
      border: none;
      box-shadow: none;
      transition: all 0.5s;

      &:focus{
        background-color: #ffffff;
      }

    }
  }

  .has-error {
    &:after {
      content: '';
      color: red;
      font-size: 14px;
      display: block;
    }
  }

  .inp-name.has-error{
    &:after{
      content: 'Введитите своё имя';
    }
  }

  .inp-phone.has-error{
    &:after{
      content: 'Введитите свой телефон';
    }
  }

  .inp-email.has-error{
    &:after{
      content: 'Введитите свой Email';
    }
  }

  .inp-text.has-error{
    &:after{
      content: 'Введитите свой вопрос';
    }
  }
}



@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


@mixin bg-img{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.modal{
  height: 100%;

  .modal-dialog{
    margin: auto;

    .modal-content{
      width: 100%;
      border: none;
      box-shadow: none;
      border-radius: 0;

      .modal-header{
        padding: 0;
        border: none;
        position: relative;

        .close{
          opacity: 1;
          position: absolute;
          transition: all 0.5s;
          outline: none !important;

          &:hover{
            transform: rotate(90deg);
          }
        }
      }

      .modal-body{
        padding: 0;
        border: none;
      }
    }
  }
}

.ticket-modal{
  height: 100%;

  .modal-dialog{
    width: 450px;

    @media(max-width: 580px){
      width: 350px;
    }

    @media(max-width: 430px){
      width: 100%;
    }

    @media(max-height: 720px){
      margin-top: 50px;
    }

    .modal-content{
      background-color: #ffffff;
      padding-top: 80px;
      padding-bottom: 87px;

      @media(max-width: 580px){
        padding-top: 60px;
        padding-bottom: 67px;
      }

      .modal-header{
        .close{
          top: -80px;
          right: -50px;
          width: 30px;
          height: 30px;

          @media(max-width: 580px){
            top: -60px;
            width: 20px;
            height: 20px;
            right: -30px;
          }

          @media(max-width: 430px){
            right: 15px;
            top: -45px;
          }

          svg{
            width: 100%;
            height: auto;

            @media(max-width: 430px){
              path{
                stroke: #000000;
              }
            }
          }
        }
      }

      .modal-title{
        margin-top: 0;
        margin-bottom: 47px;
        text-align: center;
        font-size: 30px;

        @media(max-width: 992px){
          font-size: 28px;
        }

        @media(max-width: 767px){
          font-size: 24px;
          margin-bottom: 27px;
        }
      }

      .modal-body{
        form{
          width: 330px;
          margin: 0 auto;

          @media(max-width: 580px){
            width: 280px;
          }

          .form-group{
            width: 100%;
            height: 60px;
            margin-bottom: 38px;

            label{
              font-size: 16px;
              margin-bottom: 2px;
              display: block;
              font-weight: 400;
            }

            .form-control{
              width: 100%;
              height: 50px;
              background-color: #ffffff;
              border: 1px solid #C4C4C4;
              padding-left: 17px;
              font-size: 16px;
              display: block;
            }
          }

          .button{
            width: 100%;
            padding: 0;
            border: none;
          }
        }
      }
    }
  }

  .master-custom{
    display: none;
    margin-bottom: 28px;

    .radio input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 7px;
    }
    .radio__text {
      position: relative;
      padding: 0 0 0 21px;
      cursor: pointer;
      font-size: 14px;
      font-family: $f-main;
    }

    label{
      font-size: 14px;
      font-family: $f-main;
      font-weight: 400;
    }
    .radio__text:before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      width: 14px;
      height: 14px;
      background-image: url("../img/radio-no.svg");
      background-repeat: no-repeat;
    }
    .radio__text:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 0px;
      width: 16px;
      height: 14px;
      background-image: url("../img/radio-ch.svg");
      background-repeat: no-repeat;
      opacity: 0;
     /* transition: .2s;*/
    }
    .radio input:checked + .radio__text:after {
      opacity: 1;
    }
    .radio input:checked + .radio__text:before {
      opacity: 0;
    }

  }
}

.master-custom-on{
  .master-custom{
    display: block !important;
  }
}

/*--------- ANIMATION ------------*/


.menu-slider{
  -webkit-animation: slide-menu 1s infinite ease-in-out;
  animation: slide-menu 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes slide-menu {
  0% {
    right: -200px;
  }

  100% {
    right: 0;
  }
}

@keyframes slide-menu {
  0% {
    right: -200px;
  }

  100% {
    right: 0;
  }
}

.menu-slider-out{
  -webkit-animation: slide-menu-out 1s infinite ease-in-out;
  animation: slide-menu-out 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


@-webkit-keyframes slide-menu-out {
  0% {
    right: 0;
  }

  100% {
    right: -200px;
  }
}

@keyframes slide-menu-out {
  0% {
    right: 0;
  }

  100% {
    right: -200px;
  }
}
