/*--- IMPORT ---*/

@import "fonts";
@import "variables";
@import "basic";
@import "popup";
@import "slick";
@import "slick-teame";

/*--- header ---*/

header{
  .fix-menu{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .cookie-container{
      background-color: #ffffff;
      padding-top: 10px;
      padding-bottom: 14px;
      display: none;
      position: relative;
      z-index: 120;

      .content{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media(max-width: 992px){
          flex-wrap: wrap;
        }

        p{
          font-size: 12px;
          width: 1070px;
          line-height: 1.2;
          margin-bottom: 0;

          @media(max-width: 1410px){
            width: 750px;
          }

          @media(max-width: 992px){
            width: 100%;
            margin-bottom: 15px;
          }

          a{
            color: #0076a8 !important;
          }
        }

        .button{
          width: 180px;
          text-align: center;
          padding: 0;
          font-size: 12px !important;
          background-color: #ffffff;
          height: 30px !important;
          line-height: 28px !important;
          border-radius: 2px;
          border: 1px solid #0076a8;
          color: #0076a8 !important;
          transition: all 0.5s;

          &:hover{
            color: #ffffff !important;
            background-color: #0076a8;

            svg{
              path{
                stroke: #ffffff;
              }
            }
          }

          svg{
            width: 12px;
            margin-bottom: -3px;
            margin-right: 10px;

            path{
              transition: all 0.5s;
            }
          }
        }
      }
    }

    .logo-phone{
      background-color: #000000;
      padding-top: 8px;
      padding-bottom: 7px;
      width: 100%;

      @media(max-width: 540px){
        padding-top: 21px;
        padding-bottom: 40px;
      }

      .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .logo-wrapper{
          width: 324px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media(max-width: 650px){
            width: auto;
          }

          @media(max-width: 540px){
            width: 93px;
            position: absolute;
            top: 0;
            right: 50%;
            margin-right: -46.5px;
            z-index: 101;
          }

          .logo{
            width: 87px;
            height: auto;
          }

          .line{
            width: 1px;
            height: 16px;
            background-color: #97999B;

            @media(max-width: 650px){
              display: none;
            }
          }

          p{
            color: #97999B;
            font-size: 21px;
            font-family: $f-main;
            margin-bottom: 0;

            @media(max-width: 650px){
              display: none;
            }
          }
        }

        .phone-wrapper{
          display: flex;
          align-items: center;

          @media(max-width: 540px){
            display: none;
          }

          .phone{
            color: #ffffff !important;
            font-size: 16px;
            outline: none !important;
            margin-right: 16px;
          }

          .callback{
            opacity: 0.5;
            color: #ffffff !important;
            outline: none;
            transition: all 0.5s;

            &:hover{
              opacity: 1;
            }
          }
        }

        .mob-menu-btn{
          display: none;
          position: absolute;
          top: 0;
          right: 15px;
          width: 30px;
          height: 20px;
          flex-wrap: wrap;
          align-items: center;
          background-color: #000000;
          z-index: 101;

          @media(max-width: 540px){
            display: flex;
          }

          div{
            width: 100%;
            background-color: #ffffff;
            height: 2px;
            transition: all 0.5s;
            transform: rotate(0deg);
            opacity: 1;
          }
        }

        .active-menu{
          div{
            &:nth-child(1){
              transform: rotate(25deg) translateX(2px) translateY(5px);
            }
            &:nth-child(2){
              opacity: 0;
            }
            &:nth-child(3){
              transform: rotate(-25deg) translateX(3px) translateY(-8px);
            }
          }
        }

        .mob-menu{
          display: none;
          height: 100vh;
          position: absolute;
          background-color: #000000;
          color: #ffffff;
          transform: translateY(-101%);
          top: 0;
          left: 0;
          z-index: 100;
          align-items: center;
          padding-bottom: 228px;
          transition: all 0.5s;

          @media(max-width: 540px){
            display: flex;
          }

          ul{
            position: relative;
            width: 100%;
            padding: 0;
            margin: 0;
            opacity: 0;
            transition: all 2s;

            li{
              list-style: none;
              margin-bottom: 40px;
              text-align: center;
              display: block;

              @media(max-height: 550px){
                margin-bottom: 20px;
              }

              &:last-child{
                margin-bottom: 0;
              }

              a{
                color: #ffffff !important;
                font-size: 24px;
              }
            }
          }

          .fix-content{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            opacity: 0;
            transition: all 2s;
            padding-bottom: 30px;

            .lang{
              border-top: 1px solid #97999B;
              border-bottom: 1px solid #97999B;
              padding: 28px 0;
              text-align: center;

              a{
                color: #ffffff;
                font-size: 16px;
                opacity: 0.5;
                display: inline-block;
                padding: 0 10px;

                &:hover{
                  color: $accent;
                }
              }

              .active-lang{
                opacity: 1;

                &:hover{
                  color: #ffffff;
                }
              }
            }

            .mob-phone-wrapper{

              .inner{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 31px auto 34px;
                width: 202px;

                img{
                  width: 44px;
                }

                div{
                  width: 139px;

                  .phone{
                    color: #ffffff !important;
                    font-size: 16px;
                    outline: none !important;
                    margin-right: 16px;
                  }

                  .callback{
                    opacity: 0.5;
                    color: #ffffff !important;
                    outline: none;
                  }
                }
              }
            }
          }
        }

        .active-mob-menu{
          transform: translateY(0);

          ul{
            opacity: 1;
          }

          .fix-content{
            opacity: 1;
          }
        }
      }
    }

    nav{
      background-color: #53565A;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 100%;

      @media(max-width: 540px){
        display: none;
      }

      .content{
        display: flex;
        justify-content: flex-end;

        .menu{
          margin-right: 70px;

          @media(max-width: 570px){
            margin-right: 35px;
          }

          .menu-btn{
            display: none;

            @media(max-width: 540px){
              display: block;
            }
          }

          ul{
            padding: 0;
            display: flex;
            margin: 0;

            @media(max-width: 540px){
              display: none;
            }

            li{
              margin-right: 45px;
              list-style: none;

              @media(max-width: 650px){
                margin-right: 25px;
              }

              &:last-child{
                margin-right: 0;
              }

              a{
                color: #ffffff;
                outline: none !important;
                font-size: 16px;
                transition: all 0.5s;

                &:hover{
                  color: $accent;
                }
              }
            }
          }
        }

        .lang{
          width: 175px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          a{
            color: #ffffff;
            font-size: 16px;
            opacity: 0.5;
            transition: all 0.5s;

            &:hover{
              color: $accent;
            }
          }

          .active-lang{
            opacity: 1;

            &:hover{
              color: #ffffff;
            }
          }

          .line{
            width: 1px;
            height: 16px;
            background-color: #ffffff;
          }
        }
      }
    }
  }

  .header-content{
    background-color: #000000;
    padding-top: 157px;
    padding-bottom: 96px;
    overflow: hidden;
    color: #ffffff;

    @media(max-width: 1410px){
      padding-bottom: 79px;
    }

    @media(max-width: 540px){
      padding-top: 70px;
    }

    .content{
      position: relative;

      .mob-pic{
        display: none;

        @media(max-width: 992px){
          display: block;
          width: 70%;
          height: auto;
          margin: 0 auto 50px;
          min-width: 181px;
        }
      }

      h1{
        margin-top: 0;
        margin-bottom: 13px;
        font-size: 30px;
        max-width: 190px;

        @media(max-width: 992px){
          font-size: 28px;
        }

        @media(max-width: 767px){
          font-size: 24px;
        }
      }

      p{
        max-width: 480px;
        font-size: 14px;
        margin-bottom: 34px;

        @media(max-width: 1410px){
          max-width: 380px;
        }

        span{
          @media(max-width: 347px){
            display: block;
            margin-bottom: 30px;
          }
        }
      }

      .button{
        width: 330px;
        padding: 0;

        @media(max-width: 380px){
          width: 290px;
        }
      }

      .program-btn{
        display: block;
        width: 330px;
        text-align: center;
        color: $accent !important;
        height: 50px;
        line-height: 50px;
        background-color: #000000;
        font-family: $f-S-bold !important;
      }

      .pic{
        position: absolute;
        display: block;
        width: 706px;
        height: auto;
        right: 0px;
        top: -100px;

        @media(max-width: 1410px){
          width: 560px;
          top: -69px;
        }

        @media(max-width: 992px){
          display: none;
        }
      }
    }
  }
}

/*--- business-trend ---*/

.business-trend{
  background-color: #F0F0F0;
  padding-top: 86px;
  padding-bottom: 78px;

  .content{
    .block-title{
      margin-bottom: 46px;
    }

    h3{
      margin-top: 0;
      font-size: 18px;
      margin-bottom: 34px;
      max-width: 863px;
      line-height: 1.4;

      @media(max-width: 767px){
        font-size: 16px;
      }
    }

    .items-wrapper{
      display: flex;
      justify-content: space-between;
      margin-bottom: 46px;

      @media(max-width: 650px){
        flex-wrap: wrap;
        justify-content: space-around;
      }
      .item{
        background-color: #ffffff;
        width: 450px;
        padding:  30px 67px 37px 40px;
        display: flex;
        align-items: center;

        @media(max-width: 1410px){
          width: 300px;
          padding-left: 10px;
          padding-right: 10px;
        }

        @media(max-width: 992px){
          width: 220px;
          flex-wrap: wrap;
          justify-content: space-around;
        }

        @media(max-width: 767px){
          width: 200px;
        }

        @media(max-width: 650px){
          width: 450px;
          margin-bottom: 20px;
          padding:  30px 0 37px 40px;
          flex-wrap: nowrap;
          justify-content: flex-start;

          &:last-child{
            margin-bottom: 0;
          }
        }

        @media(max-width: 480px){
          width: 100%;
        }

        @media(max-width: 390px){
          padding-left: 15px;
        }

        img{
          width: 50px;
          height: auto;
          margin-right: 30px;

          @media(max-width: 1410px){
            margin-right: 12px;
          }

          @media(max-width: 992px){
            margin-right: 0;
            margin-bottom: 20px;
          }

          @media(max-width: 650px){
            margin-bottom: 0;
            margin-right: 30px;
          }

          @media(max-width: 390px){
            margin-right: 12px;
          }
        }

        .text{

          @media(max-width: 992px){
            width: 100%;
            text-align: center;
          }

          @media(max-width: 650px){
            text-align: left;
            width: auto;
          }

          h4{
            margin-top: 0;
            font-size: 18px;
            margin-bottom: 5px;
          }
          p{
            margin-bottom: 0;
            font-size: 14px;
          }
        }
      }
    }

    .button{
      margin: 0 auto;
      display: block;
      width: 330px;
      padding: 0;

      @media(max-width: 350px){
        width: 100%;
      }
    }
  }
}

/*--- main-topics ---*/

.main-topics{
  background-color: #ffffff;
  padding-top: 98px;
  padding-bottom: 125px;

  @media(max-width: 767px){
    padding-top: 44px;
    padding-bottom: 50px;
  }

  .content{
    .block-title{
      margin-bottom: 65px;

      @media(max-width: 767px){
        margin-bottom: 30px;
      }
    }

    .flow{
      width: 100%;
      margin-bottom: 59px;
      color: #ffffff;

      @media(max-width: 767px){
        margin-bottom: 30px;
      }

      &:last-child{
        margin-bottom: 0;
      }

      &:nth-child(2){
        .bottom{
          background-color: #43B02A;

          p{
            &:nth-child(1){
              background-image: url("../img/flow-1-1-pic.svg");
            }

            &:nth-child(2){
              background-image: url("../img/flow-1-2-pic.svg");
            }

            &:nth-child(3){
              background-image: url("../img/flow-1-3-pic.svg");
            }

            &:nth-child(4){
              background-image: url("../img/flow-1-4-pic.svg");
            }
          }
        }
      }

      &:nth-child(3){
        .bottom{
          background-color: #0097A9;

          p{
            &:nth-child(1){
              background-image: url("../img/flow-2-1-pic.svg");
            }

            &:nth-child(2){
              background-image: url("../img/flow-2-2-pic.svg");
            }

            &:nth-child(3){
              background-image: url("../img/flow-2-3-pic.svg");
            }

            &:nth-child(4){
              background-image: url("../img/flow-2-4-pic.svg");
            }
          }
        }
      }

      &:nth-child(4){
        .bottom{
          background-color: #012169;

          p{
            &:nth-child(1){
              background-image: url("../img/flow-3-1-pic.svg");
            }

            &:nth-child(2){
              background-image: url("../img/flow-3-2-pic.svg");
            }

            &:nth-child(3){
              background-image: url("../img/flow-3-3-pic.svg");
            }

            &:nth-child(4){
              background-image: url("../img/flow-3-4-pic.svg");
            }
          }
        }
      }

      .top{
        background-color: #000000;
        padding-top: 40px;
        padding-bottom: 62px;
        padding-left: 211px;
        display: flex;
        align-items: center;

        @media(max-width: 1410px){
          padding-left: 50px;
        }

        @media(max-width: 992px){
          padding-left: 15px;
        }

        @media(max-width: 767px){
          flex-wrap: wrap;
          padding-left: 15px;
          padding-right: 15px;
        }

        .pic{
          width: 200px;
          height: auto;
          margin-right: 53px;

          @media(max-width: 992px){
            width: 175px;
          }

          @media(max-width: 767px){
            margin-right: 0;
            margin-bottom: 29px;
          }
        }

        .text{
          width: 662px;

          @media(max-width: 1410px){
            width: 540px;
          }

          @media(max-width: 992px){
            width: 490px;
          }

          @media(max-width: 767px){
            width: 100%;
          }

          h3{
            margin-top: 0;
            margin-bottom: 17px;
            font-size: 18px;

            @media(max-width: 767px){
              font-size: 16px;
            }
          }

          p{
            margin-bottom: 30px;
            font-size: 14px;
          }

          a{
            height: 40px;
            line-height: 40px;
            color: $accent !important;
            font-family: $f-S-bold;
            display: block;
            position: relative;
            padding-left: 60px;

            &::before{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 39px;
              height: 39px;
              border: 2px solid $accent;
              border-radius: 50%;
              background-image: url("../img/btn-arrow.svg");
              background-repeat: no-repeat;
              background-position: center center;
              transition: all 0.5s;
            }
          }

          .active-flow{
            &::before{
              transform: rotate(-90deg);
            }
          }
        }
      }

      .bottom{
        width: 100%;
        padding-top: 82px;
        padding-bottom: 71px;

        @media(max-width: 992px){
          padding-bottom: 21px;
        }

        .items-wrapper{
          width: 930px;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;

          @media(max-width: 1410px){
            width: 850px;
          }

          @media(max-width: 992px){
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-around;
          }

          p{
            width: 210px;
            margin-bottom: 0;
            font-size: 14px;
            padding-top: 67px;
            background-repeat: no-repeat;
            background-position: top left;

            @media(max-width: 1410px){
              width: 190px;
            }

            @media(max-width: 992px){
              width: 245px;
              margin-bottom: 50px;
            }
          }
        }
      }
    }
  }
}

/*--- practice ---*/

.practice{
  background-color: #000000;
  padding-top: 99px;
  padding-bottom: 108px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  color: #ffffff;

  @media(max-width: 767px){
    padding-top: 40px;
    padding-bottom: 45px;
  }

  .content{
    position: relative;

    .block-title{
      margin-bottom: 46px;

      @media(max-width: 992px){
        margin-bottom: 300px;
      }
    }

    h3{
      margin-top: 0;
      margin-bottom: 33px;
      font-size: 18px;
      max-width: 704px;
      line-height: 1.5;

      @media(max-width: 767px){
        font-size: 16px;
      }

      &:last-child{
        margin-bottom: 0;
      }
    }

    ul{
      padding: 0;
      margin-bottom: 27px;
      width: 675px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media(max-width: 700px){
        justify-content: space-around;
        width: 100%;
      }

      li{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 330px;
        align-items: center;
        margin-bottom: 41px;

        @media(max-width: 700px){
          width: 450px;
          margin-bottom: 30px;
        }

        @media(max-width: 490px){
          width: 100%;
          margin-bottom: 15px;
          justify-content: flex-start;
          padding-left: 15px;
        }

        &:nth-child(3),
        &:nth-child(4){
          margin-bottom: 0;
        }

        &:nth-child(3){
          @media(max-width: 700px){
            margin-bottom: 30px;
          }

          @media(max-width: 495px){
            margin-bottom: 15px;
          }
        }

        .number{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid $accent;
          line-height: 46px;
          text-align: center;
          font-size: 18px;
          color: $accent;
          font-family: $f-S-bold;
          margin-bottom: 0;

          @media(max-width: 495px){
            margin-right: 15px;
          }
        }

        .text{
          margin-bottom: 0;
          font-size: 14px;
          width: 267px;

          @media(max-width: 700px){
            width: 370px;
          }

          @media(max-width: 495px){
            width: 300px;
          }

          @media(max-width: 390px){
            width: 197px;
          }
        }
      }
    }

    .pic{
      position: absolute;
      display: block;
      right: 0;
      top: -34px;
      width: 445px;
      height: auto;

      @media(max-width: 1410px){
        width: 245px;
        top: 50%;
        margin-top: -122.5px;
      }

      @media(max-width: 992px){
        margin-top: 0;
        top: 67px;
        right: 50%;
        margin-right: -122.5px;
      }
    }
  }
}

/*--- forum-numbers ---*/

.forum-numbers{
  background-color: #000000;
  padding-top: 100px;
  padding-bottom: 109px;
  color: #ffffff;

  @media(max-width: 767px){
    padding-top: 42px;
    padding-bottom: 50px;
  }

  .content{
    .block-title{
      margin-bottom: 44px;
    }

    .items-wrapper{
      display: flex;
      justify-content: space-between;

      @media(max-width: 992px){
        flex-wrap: wrap;
        justify-content: space-around;
      }

      @media(max-width: 604px){
        width: 187px;
        margin: 0 auto;
      }

      .item{
        width: 185px;

        @media(max-width: 1410px){
          &:nth-child(1){
            width: 135px;
          }

          &:nth-child(2){
            width: 169px;
          }

          &:nth-child(3){
            width: 151px;
          }

          &:nth-child(4){
            width: 137px;
          }

          &:nth-child(5){
            width: 125px;
          }
        }

        @media(max-width: 992px){
          margin: 0 20px 20px;

          &:nth-child(4){
            margin-left: 90px;
            margin-bottom: 0;
          }

          &:nth-child(5){
            margin-right: 108px;
            margin-bottom: 0;
          }
        }

        @media(max-width: 604px){
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 20px;
          width: 185px !important;

          &:last-child{
            margin-bottom: 0;
          }

          &:nth-child(4){
            margin-left: 0px;
            margin-bottom: 20px;
          }

          &:nth-child(5){
            margin-right: 0px;

          }

        }

        .border-text{
          color: #000000;
          line-height: 1;
          margin-bottom: 10px;
          font-size: 96px;
          font-family: $f-EX-bold;

        }

        .text{
          font-size: 14px;
          margin-bottom: 0;
        }
      }
    }
  }
}

/*--- our-speakers ---*/

.our-speakers{
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 106px;
  border-bottom: 1px solid rgba(0,0,0,0.5);

  @media(max-width: 767px){
    padding-top: 44px;
    padding-bottom: 50px;
  }

  .content{
    .block-title{
      margin-bottom: 59px;
    }

    .items-wrapper{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .item{
        width: 210px;
        margin-bottom: 55px;

        @media(max-width: 690px){
          width: 32%;
        }

        @media(max-width: 540px){
          width: 49%;
        }

        @media(max-width: 380px){
          width: 100%;
        }

        .speak-photo{
          width: 100%;
          height: 210px;
          overflow: hidden;
          margin-bottom: 20px;

          @media(max-width: 690px){
            height: auto;
          }

          @media(max-width: 380px){
            margin-bottom: 0;
          }

          img{
            width: 100%;
            height: auto;
          }
        }

        .flag{
          display: block;
          margin-bottom: 13px;

          @media(max-width: 380px){
            margin-top: -16px;
          }
        }

        .none{
          font-size: 14px;
          color: #97999B;
          margin-bottom: 2px;
        }

        h3{
          font-size: 18px;
          margin-top: 0;
          margin-bottom: 5px;

          @media(max-width: 767px){
            font-size: 16px;
          }
        }

        p{
          font-size: 14px;
          margin-bottom: 0;
        }
      }
    }

    .more-speakers{
      display: none;
    }

    .open-more-speakers{
      text-align: center;
      display: block;
      color: $accent;
      font-family: $f-bold;
      margin: 10px auto 0;
    }
  }
}

/*--- program ---*/

.program{
  background-color: #ffffff;
  padding-top: 98px;
  padding-bottom: 94px;

  @media(max-width: 767px){
    padding-top: 46px;
    padding-bottom: 50px;
  }

  .content{
    position: relative;

    .block-title{
      margin-bottom: 46px;
      position: relative;
      z-index: 2;

      @media(max-width: 992px){
        margin-bottom: 305px;
      }
    }

    p{
      font-size: 18px;
      margin-bottom: 46px;
      max-width: 714px;
      position: relative;
      z-index: 2;

      @media(max-width: 767px){
        font-size: 16px;
      }
    }

    .mob-btn{
      display: none;

      @media(max-width: 900px){
        display: block;
        width: 330px;
        margin: 0 auto;
        padding: 0;
      }

      @media(max-width: 380px){
        width: 100%;
      }
    }

    .button{
      @media(max-width: 540px){
        width: 100%;
        padding: 0;
      }
    }

    .desc-btn{
      display: block;
      color: $accent !important;
      height: 39px;
      line-height: 39px;
      font-family: $f-S-bold;
      padding-left: 60px;
      position: relative;

      @media(max-width: 900px){
        display: none;
      }

      &::before{
        content: '';
        width: 39px;
        height: 39px;
        border: 2px solid $accent;
        border-radius: 50%;
        background-image: url("../img/btn-arrow.svg");
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.5s;
      }
    }

    .active-program{
      &::before{
        transform: rotate(-90deg);
      }
    }

    .pic{
      position: absolute;
      display: block;
      right: 0;
      top: -78px;
      width: 480px;
      height: auto;
      z-index: 1;

      @media(max-width: 1410px){
        width: 380px;
        top: 27px;
        right: -80px;
      }

      @media(max-width: 992px){
        right: 50%;
        margin-right: -190px;
      }

      @media(max-width: 540px){
        top: 40px;
      }

      @media(max-width: 346px){
        top: 60px;
      }
    }
  }
}

/*--- program-more ---*/

.program-more{
  background-color: #F0F0F0;
  padding-top: 35px;
  padding-bottom: 40px;

  @media(max-width: 900px){
    display: none;
  }

  .content{
    width: 1538px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 29px 64px 110px;

    @media(max-width: 1560px){
      width: 95%;
    }

    @media(max-width: 1280px){
      padding: 29px 32px 110px;
    }

    @media(max-width: 992px){
      width: 98%;
      padding: 29px 16px 110px;
    }

    .parts-wrapper{
      display: flex;

      .part{
        width: 25%;
        padding: 19px 16px 16px;

        @media(max-width: 992px){
          padding: 19px 10px 16px;
        }

        h4{
          font-size: 18px;
          margin: 0;
          text-align: center;
          font-family: $f-bold;
          line-height: 1.5;

          span{
            color: #000000;
            font-family: $f-main;
            font-size: 16px;
          }
        }

        h4.text-left{
          text-align: left;
          font-size: 16px;
          margin-bottom: 40px;
        }

        img{
          margin-bottom: 12px;
        }

        p{
          margin-bottom: 20px;
          font-size: 16px;

          span{
            font-family: $f-bold;
          }
        }
      }

      .part1{
        background-color: #ffffff;
        text-align: center;
        font-size: 18px;

        h4{
          color: #000000;
        }
      }

      .part2{
        background-color: #e6f5f7;

        h4{
          color: #0097A9;
        }
      }

      .part3{
        background-color: #edf8ea;

        h4{
          color: #43B02A;
        }
      }

      .part4{
        background-color: #e6e9f0;

        h4{
          color: #012169;
        }
      }

      .part-in{
        padding-bottom: 20px;
      }

      .border-bot{
        border-bottom: 1px solid rgba(0,0,0,0.5);
      }
    }

    .step-name{
      width: 100%;
      background-color: #ffffff;
      height: 51px;
      line-height: 51px;
      padding-left: 25%;
      text-align: center;
      color: #000000;
      font-size: 18px;
      font-family: $f-bold;
      margin: 0 auto;
    }

    .step-time{
      background-color: #9DD4CF;
      height: 51px;
      width: 100%;
      display: flex;
      line-height: 51px;
      text-align: center;


      .time{
        width: 25%;
        font-size: 18px;
      }

      .step{
        width: 75%;
        font-size: 16px;
        font-family: $f-S-bold;

        img{
          margin-right: 20px;
        }
      }
    }
  }
}

/*--- video-join ---*/

.video-join{
  background-color: #000000;
  padding-top: 98px;
  padding-bottom: 114px;
  color: #ffffff;

  .content{
    .block-title{
      margin-bottom: 55px;
    }

    .video-wrapper{
      width: 930px;
      margin: 0 auto;

      @media(max-width: 992px){
        width: 100%;
      }

      .video{
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;

        iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/*--- participation-packages ---*/

.participation-packages{
  background-color: #ffffff;
  padding-top: 97px;
  padding-bottom: 113px;

  .content{
    .block-title{
      margin-bottom: 58px;
    }

    .items-wrapper{
      display: flex;
      justify-content: space-between;

      @media(max-width: 992px){
        justify-content: space-around;
        flex-wrap: wrap;
      }

      .item{
        width: 450px;
        background-color: #000000;
        color: #ffffff;
        padding: 0 0 160px;
        position: relative;

        @media(max-width: 1410px){
          width: 300px;
        }

        @media(max-width: 992px){
          width: 450px;
          margin-bottom: 35px;

          &:last-child{
            margin-bottom: 0;
          }

          &:first-child{
            padding-top: 37px;

            .sale{
              display: none;
            }
          }
        }

        @media(max-width: 480px){
          width: 100%;
        }

        .sale{
          height: 110px;
          border-bottom: 1px solid rgba(255,255,255,0.5);
          display: flex;
          align-items: center;
          padding-left: 59px;
          margin-bottom: 23px;

          @media(max-width: 1410px){
            padding-left: 15px;
          }

          @media(max-width: 992px){
            padding-left: 59px;
          }

          @media(max-width: 380px){
            padding-left: 10px;
          }

          img{
            margin-right: 15px;

            @media(max-width: 380px){
              margin-right: 10px;
            }
          }

          p{
            font-size: 18px;
            margin-bottom: 0;

            @media(max-width: 767px){
              font-size: 15px;
            }
          }
        }

        .pack-name{
          margin-top: 0;
          margin-bottom: 16px;
          font-size: 24px;
          text-align: center;
          letter-spacing: 0.05em;

          @media(max-width: 992px){
            font-size: 20px;
          }

          @media(max-width: 767px){
            font-size: 18px;
          }
        }

        .pack-price{
          text-align: center;
          font-size: 18px;
          font-family: $f-bold;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          margin-bottom: 40px;

          @media(max-width: 767px){
            font-size: 16px;
          }
        }

        ul{
          padding: 0 ;
          margin: 0;
          padding-left: 70px;
          padding-right: 50px;
          margin-bottom: 60px;

          @media(max-width: 1410px){
            padding-left: 35px;
            padding-right: 15px;
          }

          @media(max-width: 992px){
            padding-left: 70px;
            padding-right: 50px;
          }

          @media(max-width: 380px){
            padding-left: 35px;
            padding-right: 15px;
          }

          li{
            font-size: 14px;
            margin-bottom: 13px;

            &:last-child{
              margin-bottom: 0;
            }
          }
        }

        .buttons{
          position: absolute;
          left: 0;
          bottom: 60px;
          width: 100%;
        }

        .button{
          margin: 0 auto;
          display: block;
          width: 330px;
          padding: 0;

          @media(max-width: 1410px){
            width: 90%;
          }

          @media(max-width: 992px){
            width: 330px;
          }

          @media(max-width: 380px){
            width: 90%;
          }
        }

        .booking{
          color: $accent;
          text-align: center;
          font-family: $f-bold;
          display: block;
          margin-top: 25px;
        }
      }
    }
  }
}

/*--- what-do-experts-say ---*/

.what-do-experts-say{
  background-color: #F0F0F0;
  padding-top: 100px;
  padding-bottom: 100px;

  @media(max-width: 767px){
    padding-top: 44px;
    padding-bottom: 50px;
  }

  .content{
    position: relative;

    .block-title{
      margin-bottom: 13px;

      @media(max-width: 992px){
        margin-bottom: 40px;
      }
    }

    .controls-wrapper{
      position: absolute;
      width: 132px;
      display: flex;
      justify-content: space-between;
      right: 15px;
      top: 52px;
      z-index: 2;

      @media(max-width: 992px){
        right: 50%;
        margin-right: -66px;
        top: 74px;
      }

      .control{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        transition: all 0.5s;
        opacity: 0.8;
        width: 27px;
        height: 20px;

        &:hover,
        &:active{
          opacity: 1;
        }
      }

      .prev{
        background-image: url("../img/left-arrow.svg");
      }

      .next{
        background-image: url("../img/right-arrow.svg");
      }
    }

    .experts-say-slider{
      position: relative;
      z-index: 1;

      .slide{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 30px;

        @media(max-width: 992px){
          flex-wrap: wrap;
          justify-content: space-around;
          flex-direction: column-reverse;
          padding-top: 55px;
        }

        .text{
          background-color: #ffffff;
          padding: 80px 120px;
          width: 1020px;
          position: relative;

          display: flex;
          align-items: center;

          @media(max-width: 1410px){
            width: 670px;
            padding: 50px 100px;
          }

          @media(max-width: 992px){
            width: 100%;
            padding: 40px 75px;
            height: auto;
          }

          @media(max-width: 540px){
            padding: 30px 15px;
          }

          p{
            font-size: 14px;
            margin-bottom: 20px;

            &:last-child{
              margin-bottom: 0;
            }
          }

          .quotes{
            position: absolute;

            @media(max-width: 992px){
              width: 50px;
              height: auto;
            }

            @media(max-width: 540px){
              width: 40px;
            }
          }

          .quotes-top{
            top: -23px;
            left: 28px;

            @media(max-width: 992px){
              display: none;
            }
          }

          .quotes-bottom{
            right: 28px;
            bottom: -23px;

            @media(max-width: 992px){
              bottom: -15px;
            }
          }
        }

        .expert{
          width: 330px;
          position: relative;

          @media(max-width: 1410px){
            width: 250px;
          }

          @media(max-width: 992px){
            width: 330px;
            margin: 0 auto 40px;
          }

          @media(max-width: 380px){
            width: 100%;
          }

          .slide-number{
            position: absolute;
            right: 0;
            top: -39px;
            font-size: 18px;
            font-family: $f-S-bold;
            width: 132px;
            text-align: center;

            @media(max-width: 992px){
              right: 50%;
              margin-right: -67px;
              top: -55px;
            }
          }

          img{
            width: 100%;
            height: auto;
            margin-bottom: 10px;
          }

          h3{
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 18px;
          }

          p{
            font-size: 14px;
          }
        }
      }
    }
  }
}

/*--- business-unique-playground ---*/

.business-unique-playground{
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 113px;

  .content{
    position: relative;

    .block-title{
      margin-bottom: 48px;
      position: relative;
      z-index: 2;

      @media(max-width: 992px){
        margin-bottom: 360px;
      }
    }

    h3{
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 25px;
      max-width: 689px;
      position: relative;
      z-index: 2;
      line-height: 1.5;
    }

    .items-wrapper{
      column-count: auto;
      column-width: 285px;
      column-gap: 30px;
      width: 635px;
      margin-bottom: 32px;
      position: relative;
      z-index: 2;

      @media(max-width: 1410px){
        column-width: 278px;
        width: 564px;
        column-gap: 0px;
      }

      @media(max-width: 600px){
        width: 280px;
        column-width: 280px;
        margin: 0 auto 32px;
      }

     p{
       /* list-style: none;
        display: flex;
        align-items: center;*/
        margin-bottom: 30px;

        .number{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid $accent;
          line-height: 46px;
          text-align: center;
          color: $accent;
          font-family: $f-S-bold;
          font-size: 18px;
          margin-right: 35px;
          margin-bottom: 0;
          display: inline-block;

          @media(max-width: 1410px){
            margin-right: 15px;
          }

          @media(max-width: 767px){
            font-size: 16px;
            height: 40px;
            width: 40px;
            line-height: 36px;
          }
        }

        .text{
          font-size: 14px;
          margin-bottom: 0;
          display: inline-block;
        }
      }
    }

    .button{
      margin-top: 23px;
    }

    .pic{
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 695px;
      height: auto;
      z-index: 1;

      @media(max-width: 1410px){
        width: 460px;
        right: -50px;
        top: 40px;
      }

      @media(max-width: 992px){
        width: 360px;
        right: 50%;
        margin-right: -180px;
      }

      @media(max-width: 540px){
        top: 70px;
      }
    }
  }
}

/*--- jazz ---*/

.jazz{
  background-color: #000000;
  padding-top: 99px;
  padding-bottom: 210px;
  color: #ffffff;
  position: relative;

  @media(max-width: 767px){
    padding-top: 44px;
    padding-bottom: 50px;
  }

  .content{
    position: relative;

    .block-title{
      margin-bottom: 44px;
      position: relative;
      z-index: 3;
    }

    p{
      font-size: 14px;
      max-width: 606px;
      position: relative;
      z-index: 3;
    }

    .pic{
      position: absolute;
      top: -99px;
      right: 0;
      display: block;
      width: 836px;
      height: auto;
      z-index: 1;

      @media(max-width: 1410px){
        right: -150px;
      }

      @media(max-width: 992px){
        position: relative;
        width: 70%;
        top: auto;
        right: auto;
        margin: 0 auto 30px;
      }

      @media(max-width: 540px){
        width: 100%;
      }

    }
  }
}

/*--- our-experience ---*/

.our-experience{
  background-color: #ffffff;
  padding-top: 99px;
  padding-bottom: 55px;

  @media(max-width: 767px){
    padding-top: 44px;
    padding-bottom: 50px;
  }

  .content{
    .block-title{
      margin-bottom: 50px;

      @media(max-width: 767px){
        margin-bottom: 25px;
      }
    }

    p{
      font-size: 14px;
      max-width: 810px;
      margin-bottom: 0;
    }
  }
}

/*--- gallery ---*/

.gallery{
  position: relative;
  z-index: 2;

  .gallery-slider{
    position: relative;

    .slide{
      display: block;
      position: relative;
      margin: 0 15px;

      @media(max-width: 540px){
        margin: 0 5px;
      }

      img{
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

/*--- organizer ---*/

.organizer{
  background-color: #000000;
  padding-top: 350px;
  padding-bottom: 113px;
  margin-top: -150px;
  color: #ffffff;

  @media(max-width: 992px){
    padding-top: 250px;
  }

  @media(max-width: 767px){
    padding-top: 150px;
    margin-top: -100px;
    padding-bottom: 50px;
  }

  @media(max-width: 540px){
    padding-top: 100px;
    margin-top: -50px;
  }

  .content{
    position: relative;

    .block-title{
      margin-bottom: 46px;

      @media(max-width: 992px){
        margin-bottom: 385px;
      }

      @media(max-width: 540px){
        margin-bottom: 295px;
      }
    }

    .item{
      max-width: 690px;

      @media(max-width: 1410px){
        max-width: 590px;
      }

      @media(max-width: 992px){
        max-width: 100%;
      }

      h3{
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 25px;

        @media(max-width: 767px){
          font-size: 16px;
        }
      }

      p{
        font-size: 14px;
        margin-bottom: 20px;

        &:last-child{
          margin-bottom: 0;
        }

      }
    }

    .top{
      padding-bottom: 54px;
      border-bottom: 1px solid #97999B;
      margin-bottom: 50px;
    }


    .pic{
      position: absolute;
      display: block;
      top: 50%;
      right: 50px;
      width: 543px;
      height: auto;
      margin-top: -268.5px;

      @media(max-width: 1410px){
        width: 343px;
        top: 50%;
        margin-top: -170px;
        right: 0;
      }

      @media(max-width: 992px){
        right: 50%;
        margin-right: -171.5px;
        top: 50px;
        margin-top: 0;
      }

      @media(max-width: 540px){
        width: 250px;
        margin-right: -125px;
      }

      @media(max-width: 430px){
        top: 75px;
      }
    }
  }
}

/*--- sponsors ---*/

.sponsors{
  background-color: #ffffff;
  padding-top: 116px;
  padding-bottom: 114px;

  @media(max-width: 767px){
    padding-top: 44px;
    padding-bottom: 50px;
  }

  .content{
    .block-title{
      margin-bottom: 25px;
    }

    .items-wrapper{
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      @media(max-width: 767px){
        margin-bottom: 50px;
      }


      a{
        display: block;
        margin-bottom: 35px;
        margin-right: 20px;
        height: 60px;
        width: auto;

        @media(max-width: 630px){
          height: 30px;
          margin-bottom: 25px;
        }

        img{
          height: 100%;
          width: auto;
        }
      }
    }

    .buttons-wrapper{
      text-align: center;
      padding-top: 40px;

      a{
        margin: 0 25px;

        @media(max-width: 460px){
          display: block;
          padding: 0;
          width: 290px;
          margin: 0 auto;

          &:nth-child(1){
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

/*--- main-features ---*/

.main-features{
  background-color: #000000;
  padding-top: 98px;
  padding-bottom: 114px;
  color: #ffffff;

  @media(max-width: 767px){
    padding-top: 44px;
    padding-bottom: 50px;
  }

  .content{
    .block-title{
      margin-bottom: 24px;
    }

    .items-wrapper{
      display: flex;
      justify-content: space-between;
      margin-bottom: 55px;

      @media(max-width: 1410px){
        justify-content: space-around;
        flex-wrap: wrap;
      }

      .item{
        width: 210px;

        @media(max-width: 1410px){
          width: 240px;
          margin-bottom: 30px;

          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6){
            margin-bottom: 0;
          }
        }

        @media(max-width: 992px){
          width: 210px;
        }

        @media(max-width: 450px){
          &:nth-child(4),
          &:nth-child(5){
            margin-bottom: 30px;
          }
        }

        .border-text{
          color: #000000;
          line-height: 1;
          margin-bottom: 10px;
          font-size: 96px;
          font-family: $f-EX-bold;
        }

        .text{
          font-size: 14px;
          margin-bottom: 0;
        }
      }
    }

    .button{
      display: block;
      margin: 0 auto;
      width: 330px;
      padding: 0;

      @media(max-width: 380px){
        width: 290px;
      }
    }
  }
}

/*--- address-map ---*/

.address-map{
  display: flex;
  justify-content: space-between;
  background-color: #353535;

  @media(max-width: 850px){
    flex-wrap: wrap;
  }

  .address{
    width: 50%;
    padding-top: 100px;
    padding-left: 13.28%;
    color: #ffffff;

    @media(max-width: 850px){
      width: 100%;
      padding-bottom: 50px;
      padding-top: 44px;
    }

    @media(max-width: 380px){
      padding-left: 15px;
    }

    .block-title{
      margin-bottom: 45px;
    }

    .item{
      padding-left: 40px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;

      @media(max-width: 1410px){
        padding-left: 5px;
      }

      @media(max-width: 850px){
        padding-left: 15px;
      }

      img{
        margin-right: 30px;

        @media(max-width: 992px){
          margin-right: 15px;
        }
      }

      p{
        font-size: 18px;
        margin-bottom: 0;

        @media(max-width: 767px){
          font-size: 16px;
        }
      }
    }
  }

  .map{
    width: 50%;
    height: 436px;

    @media(max-width: 850px){
      width: 100%;
      height: 340px;
    }
  }
}

/*--- questions ---*/

.questions{
  background-color: #000000;
  padding-top: 104px;
  padding-bottom: 147px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  color: #ffffff;

  @media(max-width: 767px){
    padding-top: 44px;
    padding-bottom: 50px;
  }

  .content{

    .block-title{
      margin-bottom: 48px;
    }

    p{
      margin-bottom: 24px;
      font-size: 18px;
    }

    form{
      width: 690px;
      display: flex;
      justify-content: space-between;

      @media(max-width: 1410px){
        width: 540px;
      }

      @media(max-width: 992px){
        width: 100%;
      }

      @media(max-width: 480px){
        width: 320px;
        margin: 0 auto;
        flex-wrap: wrap;
      }

      @media(max-width: 360px){
        width: 100%;
      }

      .form-col{
        width: 330px;

        @media(max-width: 1410px){
          width: 260px;
        }

        @media(max-width: 992px){
          width: 48%;
        }

        @media(max-width: 480px){
          width: 100%;
        }
      }

      .form-group{
        width: 100%;
        height: 60px;
        margin-bottom: 38px;

        label{
          font-size: 16px;
          margin-bottom: 2px;
          display: block;
          font-weight: 400;
        }

        .form-control{
          width: 100%;
          height: 50px;
          background-color: #ffffff;
          padding-left: 17px;
          font-size: 16px;
          display: block;
        }
      }

      .textarea-group{
        height: 174px;
        margin-bottom: 49px;

        textarea{
          width: 100%;
          height: 150px;
          background-color: #ffffff;
          padding-left: 17px;
          font-size: 16px;
          resize: none;
        }

        .form-control{
          height: 150px;
          padding-top: 15px;
        }
      }

      .button{
        width: 100%;
        padding: 0;
        border: none;
      }
    }

    .pic{
      position: absolute;
      top: -71px;
      right: 0;
      display: block;
      width: 585px;
      height: auto;

      @media(max-width: 1410px){
        width: 385px;
        top: 50%;
        margin-top: -158.75px;
      }

      @media(max-width: 992px){
        position: relative;
        top: auto;
        right: auto;
        margin: 50px auto 0;
      }

      @media(max-width: 767px){
        margin: 30px auto 0;
      }

      @media(max-width: 540px){
        width: 220px;
      }
    }

  }
}

/*--- pre-footer ---*/

.pre-footer{
  background-color: #000000;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  padding-top: 36px;
  padding-bottom: 32px;
  color: #ffffff;
  position: relative;

  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 715px){
      width: 220px;
      margin: 0 auto;
      justify-content: space-around;
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }

    .documents{
      display: flex;

      @media(max-width: 715px){
        flex-wrap: wrap;
        justify-content: space-around;
      }

      a{
        font-size: 14px;
        color: #ffffff;
        margin-right: 48px;
        transition: all 0.5s;

        @media(max-width: 715px){
          margin-right: 0;
          display: block;

          &:nth-child(1){
            margin-bottom: 5px;
          }
        }

        &:hover{
          color: $accent;
        }
      }
    }

    .soc-wrapper{
      display: flex;
      align-items: center;
      position: relative;

      @media(max-width: 715px){
        padding-bottom: 35px;
        margin-bottom: 40px;
      }

      a{
        margin-right: 8px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }

      .fb,
      .tw,
      .in,
      .you{
        width: 34px;
        height: 34px;
      }

      .fb{
        background-image: url("../img/fb-icon.svg");
      }

      .tw{
        background-image: url("../img/twit-icon.svg");
      }

      .in{
        background-image: url("../img/in-icon.svg");
      }

      .you{
        margin-right: 0;
        background-image: url("../img/youtube-icon.svg");
      }

      .ofs{
        margin-right: 28px;
        color: #00A2E0;
        font-size: 14px;

        @media(max-width: 715px){
          position: absolute;
          bottom: 0;
          left: 0;
          margin-right: auto;
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .go-top{
    position: absolute;
    top: 50%;
    left: 4.7%;
    width: 37px;
    height: 44px;
    margin-top: -22px;
    background-image: url("../img/go-top-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media(max-width: 1640px){
      left: 1.7%;
    }

    @media(max-width: 1530px){
      width: 17px;
      margin-top: -12px;
    }

    @media(max-width: 1460px){
      margin-top: -85px;
    }

    @media(max-width: 1410px){
      margin-top: -12px;
    }

    @media(max-width: 1200px){
      left: 1.7%;
      width: 17px;
      margin-top: -12px;
    }

    @media(max-width: 1023px){
      display: none;
    }
  }
}

/*--- footer ---*/

footer{
  background-color: #000000;
  padding-top: 41px;
  padding-bottom: 52px;
  color: #97999B;

  p{
    font-size: 11px;
    margin-bottom: 27px;

    &:last-child{
      margin-bottom: 0;
    }

    a{
      color: #00A2E0;
    }
  }
}

/*--- lidmagnit-page ---*/

.lidmagnit-page{
  header{

    .header-content{
      border-bottom: 1px solid rgba(255,255,255,0.5);

      .content{
        display: flex;
        justify-content: space-between;

        @media(max-width: 992px){
          flex-wrap: wrap;
          justify-content: space-around;
        }
      }

      .text{
        width: 502px;

        @media(max-width: 1410px){
          width: 450px;
        }

        @media(max-width: 992px){
          width: 100%;
          margin-bottom: 40px;
        }

        h1{
          max-width: 100%;
          margin-bottom: 37px;
        }

        p{
          max-width: 100%;
          margin-bottom: 24px;
        }

        .button{
          margin-top: 13px;
        }
      }

      .form-wrapper{
        width: 450px;
        background-color: #ffffff;
        padding-top: 36px;
        padding-bottom: 59px;
        color: #000000;

        @media(max-width: 992px){
          background-color: #000000;
          color: #ffffff;
          padding-bottom: 0;
        }

        p{
          max-width: 330px;
          margin: 0 auto 24px;
          font-size: 18px;

          @media(max-width: 767px){
            font-size: 16px;
            max-width: 280px;
          }
        }

        form{
          width: 330px;
          margin: 0 auto;

          @media(max-width: 580px){
            width: 280px;
          }

          .form-group{
            width: 100%;
            height: 60px;
            margin-bottom: 38px;

            label{
              font-size: 16px;
              margin-bottom: 2px;
              display: block;
              font-weight: 400;
            }

            .form-control{
              width: 100%;
              height: 50px;
              background-color: #ffffff;
              border: 1px solid #C4C4C4;
              padding-left: 17px;
              font-size: 16px;
              display: block;
            }
          }

          .button{
            width: 100%;
            padding: 0;
            border: none;
          }
        }
      }
    }
  }

  .pre-footer{
    .go-top{
      display: none;
    }
  }
}

/*--- thx-page ---*/

.thx-page{
  header{
    .header-content{
      border-bottom: 1px solid rgba(255,255,255,0.5);
      padding-top: 205px;
      padding-bottom: 202px;

      @media(max-width: 992px){
        padding-top: 105px;
        padding-bottom: 102px;
      }

      h1{
        margin-bottom: 48px;

        @media(max-width: 992px){
          margin-bottom: 20px;
        }
      }

      p{
        font-size: 18px;
        max-width: 431px;

        @media(max-width: 767px){
          font-size: 16px;
        }
      }

      .pic{
        width: 440px;
        height: auto;
      }

      .mob-pic{
        max-width: 300px;
      }
    }
  }

  .pre-footer{
    .go-top{
      display: none;
    }
  }
}

.thx-pay{
  header{
    .header-content{
      padding-top: 215px;
      padding-bottom: 220px;

      @media(max-width: 992px){
        padding-top: 105px;
        padding-bottom: 102px;
      }
    }
  }
}